# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: St Andrews Mathematics Scoeity
email:
description: >- # this means to ignore newlines until "baseurl:"
  The lovely website for St Andrews Mathematics Society (SUMS). 
minimal_mistakes_skin: "aqua" 

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-redirect-from

author:
  name   : "SUMS"
  avatar : "assets/images/SUMOLOGO.jpg"
  bio    : "I am a cute nerd who is good at maths."
  links:
    - label: "SUMS Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/SUMS.StA"
    - label: "SUMS Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/usta_sums/"
    - label: "Email: sums@st-andrews.ac.uk"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:sums@st-andrews.ac.uk"
footer:
  links:
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/SUMS.StA"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/usta_sums/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/SUMS-StA"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

copyright:
  year: "2022"
  holder: "St Andrews University Mathematics Society and contributors"

atom_feed:
  