---
title: "SUMS"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/sumo-students.jpg
  actions:
    - label: "Register"
      url: "https://forms.office.com/r/uCbPBaezQ0"
excerpt: "The St Andrews University Mathematics Society (SUMS) bla bla bla (need help with writing this)."
intro: 
  - excerpt: 'Some nice quote from a mathematician maybe?'
feature_row2:
  - image_path: /assets/images/sta-grass.jpg
    title: "About Us"
    excerpt: 'We are bla bla bla (need help with writing this).'
    url: "about"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

<h1>Upcoming Events</h1>
Here's where we put our upcoming events.


