---
title: "SUMS"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/sumo-students.jpg
  actions:
    - label: "Register"
      url: "https://forms.office.com/r/uCbPBaezQ0"
excerpt: "Welcome to the SUMS website - the St Andrews' University Mathematics Society."
intro: 
  - excerpt: '"Mathematics knows no races or geographic boundaries; for mathematics, the cultural world is one country." - David Hilbert'
about_row:
  - image_path: /assets/images/sta-grass.jpg
    title: "About Us"
    excerpt: 'We are the Mathematics Society based in St Andrews. We organise events based around maths, such as competitions, study sessions, socials, and dinners. We also help the School with organising events such as the annual Pi Ball.'
    url: "about"
    btn_label: "Read More"
    btn_class: "btn--primary"
signup_row:
    - image_path: /assets/images/your-union.svg
      title: "Join US"
      excerpt: 'Please fill in the form to [sign up to our mailing list](https://forms.office.com/r/44qAwwKgSn). To buy the membership, visit Your Union Website.'
      url: "https://www.yourunion.net/activities/societies/explore/maths/"
      btn_label: "Buy Membership"
      btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="about_row" type="left" %}

<h1>Upcoming Events</h1>
Here's where we put our upcoming events.

<hr>

{% include feature_row id="signup_row" type="right" %}


